*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
    background: rgba(0,0,0,.75);
    display: flex;
    height: 100%;
    padding: 25px;
}

li a{
    text-decoration: none;
    color: white;
}

li{
    padding: 0 15px;
    color: white;
    list-style: none;
}

.content{
    background-image: url("https://vl-prod-static.b-cdn.net/system/images/000/105/022/f8017c6a6bd65e261c4273f5942598df/large/-28117_6885.jpg?1596788618");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title{
    margin-left: 100px;
    margin-top: 150px;
}

.title-design{
    background-color: rgba(255, 255, 255, 0.9);
    color: #906c5d;
    padding: 10px;
    width: 600px;
}

.tag-line-design{
    background-color: rgba(255, 255, 255, 0.9);
    color: #906c5d;
    padding: 10px;
    margin-top: 5px;
    width: 800px;
}